name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
        id: go

      - uses: actions/checkout@v4

      - name: Prepare Host
        run: |
          sudo apt-get -qq update || true
          sudo apt-get install -y --no-install-recommends apt-transport-https ca-certificates curl bzip2
          curl -fsSL -o restic.bz2 https://github.com/restic/restic/releases/download/v0.15.1/restic_0.15.1_linux_amd64.bz2
          bzip2 -d restic.bz2
          chmod 755 restic
          sudo mv restic /usr/bin/restic

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

      # - name: Run checks
      #   run: |
      #     make ci
